
.btn {
  width: 29%;
  display: inline-block;
  background: rgb(144, 205, 244);
  color: rgb(10, 10, 10);
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: inherit;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit; 
}

.btn:focus {
  outline:  2px;
}
.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 30%;
}


.add-form {
  position: fixed;
  bottom: 70px;
  right: 10px;
  width: 450px;
  height: 300px;
  margin-bottom: 40px;
  border-width: 0.4px;
  border-color: rgb(17, 7, 7);
  border-style: solid;
  transition: width 0.4s;
  z-index: 99999;
  background-color: "white";
  border-radius: 5px;

}
.add-form:disabled{
  width: 0px;
}

.form-controlx {
  margin: 22px 10px;
  font-family: 'Courier New', Courier, monospace;
  border-radius: inherit;
  font-size: 19px;

}

.form-controlx h1 {
  font-size: 19px;
}


.form-controlx label {
  display: block;
  font-size: 19px;

}

.form-controlx input {
  width: 80%;
  height: 35px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
  border-radius: inherit;
  border-width: 0.3px;
  border-color: rgb(151, 189, 226);
}

#drawerButton {
  position: fixed;
  bottom: 40px;
  right: 10px;
  width: 100px;
  height: 50px;
  background-color: rgb(128, 207, 207);
  z-index: 9999999;

}